<html lang="en">
	<head>
		<meta charset="utf-8">

	    <title>The HTML5 Herald</title>
	    <meta name="description" content="The HTML5 Herald">
	    <meta name="author" content="SitePoint">

	    <link rel="stylesheet" href="static/styles.css">

	    <link href="https://fonts.googleapis.com/css?family=Coiny|VT323" rel="stylesheet">

	    <link href="https://fonts.googleapis.com/css?family=Roboto|Shadows+Into+Light+Two" rel="stylesheet">

	    <title>Lucy's Resume</title> 
	</head>

	<body>
		<header>
			<hi>Resume</hi>
		</header>

		<section>
			<article class="section">
				<h3>Education</h3>
				<small>Elgin Park Secondary</small> 
				<p>
					<ul>
						<li>Grade 8 FIrst Class Honours Roll</li>
						<li>Grade 9 FIrst Class Honours Roll</li>
						<li>Currently: Grade 10</li>
					</ul>
				</p>
			</article>

		</section>

		<aside>
			<h3>random</h3>
			<nav>
				<ul>
					<li>info</li>
					<li>contact</li>
				</ul>
			</nav>
		</aside>

		<footer>
			<p>Polyglot</p>
		</footer>
	</body>

</html>

