<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title> Lucy Mo's Resume </title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="../static/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Asap|Barlow" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>


	<link rel="icon" href="data:;base64,=">

  <script src="/events.js"></script>
</head>

<body>
	<div class="wrapper">
		<sidebar>
		    <div class="logo"></div>
		    <div class="avatar">
		      <div class="avatar__img">
		        <img src="https://scontent-lga3-1.cdninstagram.com/vp/49652ec622deb74762800258e5c2bc50/5D0D1A6E/t51.2885-19/s150x150/47275699_221581965458795_3090338375173931008_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com" height="100" width="100" class="cropping" alt="avatar">
		      </div>
		      <div class="avatar__name" id='title'></div>
		    </div>
		    <nav class="menu">
		      <a class="menu__item" href='https://github.com/Lululucyyyyyyy/'>
		      	github
		      </a>
		      <a class="menu__item" href='https://www.instagram.com/lululucyyyyyyy/?hl=en'>
		        <i class="menu__icon fa fa-home"></i>
		        <span class="menu__text">instagram</span>
		      </a>
		    </nav>
		    <div class="copyright">copyright &copy; 2018</div>
		  </sidebar>

		  <main>
		  	<h3>Education</h3>
		  	<h3>Extracirricular Academics</h3>
		  	<h3>Performing Arts</h3>
		  	<h3>Athletics</h3>
		  	<h3>Skills</h3>
		  </main>
	</div>
</body>