<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="static/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Coiny|VT323" rel="stylesheet">

</head>
<body>
	<div class="row">
		<div class="column">
			<div class="c1">
				<p> 
					 hiii<br>
					 heloooooooo<br>
				</p>	
			</div>
		</div>
		<div class="doublecolumn"></div>
			<div class="c2">
				<p>
					bonjourrrr<br>
					:D <br>
				</p>
			</div>
		</div>
	</div>
		<div class="title-head">
		<h1>
			Resume 
		</h1>

		<h2>
			Name: Lucy Mo
		</h2>
	</div>
	<!--
	<div class="row">
	  <div class="column">
	  	<div class="c1">
		  	<p>
		  		<ul>
		  			<li>lalallalallala</li>
		  			<li> alalllalalal</li>
				</ul>
			</p>
		</div>
	  </div>
	  <div class="column">
		<div class="c1">
			<p>
			<h3>
			Hobbies
			</h3>
			<ul>
				<li>Programming</li>
				<li>Gaming</li>
				<li>Math-ing</li>
				<li>Baking</li>
				<li>Painting</li>
			</ul>

			<h3>
				Education
			</h3>
				Elgin Park Secondary</li>
			<ul>
				<li>Grade 8</li>
				<li>Grade 9</li>
			</ul>

			<h3>
				Athletics
			</h3>
			<ul>
				<li>Tennis</li>
				<li>Taekwondo</li>
				<li>Snowboarding</li>
			</ul>

			<h3>
				Music
			</h3>
			<ul>
			<li>Violin</li>
			</ul>
			</p>

		</div>
	   </div>
	  </div>
	-->
</body>
</html>